.company {
    background-color: #f8f8f8;
    padding: 100px 0;
}

.company p {
    text-align: justify;
    padding-left: 40px;
}

.company h3 {
    text-align: justify;
    padding-left: 40px;
}

.strategy {
    text-align: justify;
    background-color: white;
    padding: 25px;
}

.company img,
.strategy img {
    max-width: 400px;
}

@media (max-width: 1350px) {
    .five.columns,
    .seven.columns {
        width: 100% !important;
        margin: 0;
    }

    .company img,
    .strategy img {
        margin: 0 auto;
        max-width: 80%;
    }

    .company p,
    .strategy p {
        padding-left: 0;
    }

    .company h3,
    .strategy h3 {
        margin-top: 30px;
        padding-left: 0;
    }
}

/* TODO */

.strategy {
    padding: 100px 0;
}

.strategy ul {
    /* list-style-image: url('images/dot.gif'); */
    padding-left: 45px;
}

.strategy li {
    list-style-position: outside;
    padding-left: 10px;
    font-size: 14px;
}

.strategy h3 {
    text-align: justify;
    padding-left: 40px;
}

.services-summary {
    padding: 30px;
    color: white;
    background-color: #CC1735;
}

.services-summary p {
    line-height: 14px;
    opacity: 0.8;
}

.services-summary .container {
    width: 500px;
}
