.contact-with-us{
  background-color: #f8f8f8;
  color: inherit;
  padding: 100px;
}

.google-map{
}


.contact-data{
    padding: 50px;
}

.contact-data p{
  text-align: left;
}

.contact-data h3{
  text-align: left;
}
