.contact-with-us {
    background-color: #f8f8f8;
    height: 200px;
}

.contact-with-us h4 {
    line-height: 200px;
}

.button-submit {
    background-color: #CC1735 !important;
    color: white;
    display: block;
}

.button-submit:hover {
    background-color: #222 !important;
}

.contact-data {
    padding: 50px 0;
}

.contact-data p {
    text-align: left;
}

.contact-data h3 {
    text-align: left;
}

.contact-data h4 {
    line-height: 400px;
}

.contact-data textarea,
.contact-data input {
    border-radius: 20px;
    padding: 20px;
    border: none;
    background: #f7f7f7;
}

.contact-data input[type=submit] {
    padding: 10px 30px;
}

.contact-data textarea {
    height: 100px;
    width: 368px;
}

.contact-data textarea:hover,
.contact-data input:hover,
.contact-data textarea:focus,
.contact-data input:focus {
    border: none;
    background: #f2f2f2;
}


@media (max-width: 900px) {
    .contact-data .six.columns,
    .contact-data .two.columns,
    .contact-data .one.column {
        width: 100% !important;
        margin: 0 auto;
        text-align: center;
    }

    .contact-data i{
      display: none;
    }

    .button-submit {
        margin: 0 auto;
        float: none;
    }

    .contact-data p {
        text-align: center;
    }

    .contact-data h3 {
        text-align: center;
    }

    .contact-data {
        text-align: center;
    }

    .contact-data input {
        max-width: 80%;
    }

    .contact-data textarea {
        max-width: 80%;
    }

    .contact-data textarea,
    .contact-data input[type=text], 
    .contact-data input[type=email] {
        width: 368px;
    }
}

.contact-data i {
    float: left;
    padding: 5px 10px 0 0;
}
