@charset "UTF-8";

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero-slider {
    width: 100%;
    overflow: hidden;
    height: 790px;
}

@media (max-width: 700px) {
    .hero-slider {
        height: 1100px;
    }
}

@media (max-width: 550px) {
    .hero-slider {
        height: 1200px;
    }
}

@media (max-width: 400px) {
    .hero-slider {
        height: 1230px;
    }
}

@media (max-width: 380px) {
    .hero-slider {
        height: 1300px;
    }
}

.hero {
    width: 100%;
    position: absolute;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}

.hero h1,
.hero h3 {
    color: white;
}

.hero p {
    color: #D1D1D1;
}

.hero h1 {
    font-size: 56px;
    padding-top: 15%;
}

.hero-boxes {
    margin-top: 10%;
}

.hero-box {
    padding: 20px;
    background-color: #CC1735;
    border-radius: 10px;
}

@media (max-width: 550px) {
    .hero-box {
        margin-top: 30px;
    }
}

.hero-box button {
    background-color: #B41530;
    display: block;
}

/* Offer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.offer {
    margin-top: 80px;
}

.offer h2 {
    font-size: 24px;
    color: #363636;
    margin-bottom: 80px;
}

.offer h3 {
    margin-top: 20px;
    font-size: 18px;
    height: 40px;
}

.offer p {
    font-size: 12px;
    color: #6A6A6A;
}

.icon-circle {
    margin: 0 auto;
    border-radius: 100%;
    width: 128px;
    height: 128px;
    background-color: #eaeaea;
    position: relative;
}

.icon-circle i {
    text-align: right;
    position: absolute;
}

.icon-1 {
    top: 34%;
    left: 31%;
}

.icon-2 {
    top: 34%;
    left: 33%;
}

.icon-3 {
    top: 34%;
    left: 29%;
}


/* Newsletter
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.newsletter {
    margin-top: 80px;
    background-color: #CC1735;
    padding: 30px;
}

.newsletter h4,
.newsletter p {
    color: white;
}

.newsletter h4 {
    font-size: 24px;
}

.newsletter input {
    margin: 0 auto;
    border-radius: 30px;
}

.newsletter button {
    margin-top: 20px;
    display: block;
}

.input-email {
    width: 400px;
}

@media (max-width: 550px){
    .input-email {
        width: 300px;
    } 
}

@media (max-width: 400px){
    .input-email {
        width: 200px;
    } 
}
