@charset "UTF-8";

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero-slider {
    width: 100%;
    overflow: hidden;
    height: 790px;
}

@media (max-width: 700px) {
    .hero-slider {
        height: 1100px;
    }
}

@media (max-width: 550px) {
    .hero-slider {
        height: 1200px;
    }
}

@media (max-width: 400px) {
    .hero-slider {
        height: 1230px;
    }
}

@media (max-width: 380px) {
    .hero-slider {
        height: 1300px;
    }
}

.hero {
    width: 100%;
    position: absolute;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}

.hero h1,
.hero h3 {
    color: white;
}

.hero p {
    color: #D1D1D1;
}

.hero h1 {
    font-size: 56px;
    padding-top: 15%;
}

.hero-boxes {
    margin-top: 10%;
    overflow: hidden;
}

.hero-box {
    padding: 20px 20px 0 20px;
    background-color: #CC1735;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

@media (max-width: 800px) {
    .hero-box {
        padding-bottom: 20px;
        margin-bottom: 0px;
    }
}

.hero-box button {
    background-color: #B41530;
    display: block;
    margin-bottom: 20px;
}

.hero-box a {
    text-decoration: none;
    color: white;
}

/* Offer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.offer {
    margin-top: 80px;
}

.offer h2 {
    font-size: 24px;
    color: #363636;
    margin-bottom: 80px;
    
}

.offer h3 {
    margin-top: 50px;
    font-size: 18px;
    height: 40px;
}

.offer p {
    font-size: 14px;
    color: #6A6A6A;
}

.icon-circle {
    margin: 0 auto;
    border-radius: 100%;
    width: 128px;
    height: 128px;
    border: 3px solid #f7f7f7;
    background-color: #f7f7f7;
    position: relative;
}

.icon-circle i {
    text-align: right;
    position: absolute;
    box-shadow: none;
}

.icon-1 {
    top: 34%;
    left: 31%;
}

.icon-2 {
    top: 34%;
    left: 33%;
}

.icon-3 {
    top: 34%;
    left: 29%;
}


/* Newsletter
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.newsletter {
    margin-top: 80px;
    background-color: #CC1735;
    padding: 30px;
}

.newsletter h4,
.newsletter p {
    color: white;
}

.newsletter h4 {
    font-size: 24px;
}

.newsletter input {
    margin: 0 auto;
    border-radius: 30px;
    box-sizing: border-box;
}

.newsletter input[type=email]:hover,
.newsletter input[type=email]:focus {
    border: none;
    background: #f2f2f2;
}

.newsletter input[type=submit] {
    margin-top: 20px;
    display: block;
    color: white;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.2s;
}

.newsletter button:hover {
    background-color: #B41530;
}

.input-email {
    width: 400px;
}

@media (max-width: 550px) {
    .input-email {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .input-email {
        width: 200px;
    }
}
