.medicine-description {
    background-color: #f8f8f8;
    padding: 100px 0px 100px 0px;
}

.medicine-description p {
    text-align: justify;
    padding-left: 40px;
}

.medicine-description h3 {
    text-align: justify;
    padding-left: 40px;
}

/* vertical sidemenu */

.downloadable{
  color: white;
  padding: 100px 0px 100px 0px;
}

.vertical-menu {
    width: 140px;

}

.vertical-menu a {
    background-color: #f8f8f8;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    border: solid  1px grey;
    border
}

.vertical-menu a:hover {
    /* background-color: #ccc; */
    color: #cc1735;
}

.pdf-icon{
}


@media (max-width: 1350px) {
    .five.columns,
    .seven.columns {
        width: 100% !important;
        margin: 0;
    }

    .medicine-description img {
        margin: 0 auto;
        max-width: 80%;
    }

    .medicine-description p {
        padding-left: 0;
    }

    .medicine-description h3 {
        margin-top: 30px;
        padding-left: 0;
    }
}
